.search-bar {
    width: 350px;
    height: 44px;
    border: 1px solid $fifth-color;
    display: flex;
    align-items: center;
    margin: $margin-header;
}

#site-search {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 10px;
}

::placeholder {
    color: $third-color;
    opacity: 0.7; 
}
  
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

textarea {
    height: 60px;
}

input, textarea {
    all: unset;
    border: 1px solid $forth-color;
}