// Main section

.container {
  @include display-flex-center;

  .wrapper {
    width: 100%;
    max-width: 1200px;

  }
}

.text-section-2 {
    width: 100%;
    max-width: 1200px;
}

.img-section {
  background: url(Img/main-main-bild.jpg);
  height: 572px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 182px;
  margin-top: 126px;
  display: flex;
  align-items: center;

  &--inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.imgcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 110px;
  margin-bottom: 214px;

  figcaption {
    margin-top: 15px;
    text-align: center;
  }
}
