// Main section

.container {
  @include display-flex-center;

  .wrapper {
    width: 100%;
    max-width: 1200px;

  }
}

.flexbox-container {
  display: flex;
  justify-content: center;
  column-gap: 5rem;

  .flexbox-item {
    width: 44rem;
    margin: 10px;
  
    padding: 2rem;
    margin-top: 3rem;
  }
  
}



// .flexbox-item-1 {
// }

// .flexbox-item-2 {
// }

.flexbox-item-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100px;
  border-bottom: 1px solid $forth-color;
  border-top: 1px solid $forth-color;
  margin-top: 7rem;
  padding-top: 2.2rem;
}

.img-section {
  background: url(Img/main-main-bild.jpg);
  height: 572px;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 182px;
  margin-top: 126px;
  display: flex;
  align-items: center;

  &--inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.imgcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 110px;
  margin-bottom: 200px;

  figcaption {
    margin-top: 15px;
    text-align: center;
  }
}
