.aside-navbar {
    display: flex;
    flex-direction: column;

    li {
        margin-bottom: 16px;
    }

}

// Navigation undersidor

aside {
    width: 90%;
    border-right: 1px $third-color solid;
    margin-right: 100px;
}