* {
    font-family: 'Poppins';
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.62rem;
    font-weight: 300;
}

h3 {
    font-size: 1.25rem;
}

p, a {
    font-size: 1.12rem;
}

.img-title {
    font-size: 2.25rem;
    font-weight: 300;
    color: $third-color;
}

.img-subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    color: $third-color;
}