// Centrering
@mixin display-flex-center {
    display: flex;
    justify-content: center;
}

@mixin display-flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
}

// Mixin länkar
// Mixin subtitle 
// Mixin textfield