@mixin display-flex-center {
    display: flex;
    justify-content: center;
}

@mixin display-flex-center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin display-flex-column {
    display: flex;
    flex-direction: column;
    
}
@mixin links-nav {
    text-decoration: none;
    a {
        color: $second-color;
    }
    &:hover {
        color: $primary-color;   
      }
    &:visited {
        color: $forth-color;  
      }
    &:active {
        color: $third-color;  
      }
}