// Variabels - fonts and color
$font: 'Poppins', sans-serif ;
$primary-color: #415A77;
$second-color: #000;
$third-color: #fff;
$forth-color: #415A77;

// Variables - Width and height
$primary-width: 95%;
$max-width: 1400px;

// Responsive breaks
$tablet-screen: 1000px;
$mobile-screen: 767px; 